<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n%throwable}{STYLE=Logback}"/>
        </Console>
        <Console name="Utils" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n%throwable"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="io.github.justthieenj.arrakeenselenium" level="INFO"/>
        <Logger name="io.github.justthieenj.arrakeenselenium.utils" level="TRACE" additivity="false">
            <AppenderRef ref="Utils"/>
        </Logger>
        <Logger name="io.github.justthieenj.arrakeenselenium.core" level="TRACE" additivity="false">
            <AppenderRef ref="Utils"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>